<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <customErrors mode="Off"/>
    <sessionState mode="InProc" cookieless="false" timeout="80"/>
    <httpRuntime maxRequestLength="2097152" executionTimeout="600" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />

      <remove fileExtension=".ttf" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="WebsiteURL" value="http://localhost:46444/"/>
    <add key="WesiteImagesLoadURL" value="http://localhost:46444/admin/images/"/>
    <add key="WebsiteURLAdmin" value="http://localhost:46444/admin/"/>
    <add key="WebsiteURLBrand" value="http://localhost:46444/brands/"/>
    <add key="AdminEmailID" value="sruthi.ravindran@gmail.com"/>
    <add key="conn" value="SERVER=.;DATABASE=brandyy;UID=sa;password=souq@#1paSS;"/>
    <add key="FacebookIchooseItHashtag" value="Ichoose"/>
    <add key="FacebookAppId" value="705570672870076"/>
    <add key="FacebookAppSecret" value="2ad0f5204ab71dfb047d7cf5aaa70747"/>
    <add key="FacebookRedirectUrl" value="http://localhost:46444/"/>
    <!--host url of your app. this shoud be match with Canvas URL in the facebook app ypu have created.-->
    <add key="FacebookScope" value="email,user_hometown,user_website,manage_pages,user_about_me"/>
    <add key="FB_access_token" value="CAAKBtnlSArwBABf9UT3TscpRf7egobgff1aCBmlT2ZBJDJULpVSRRy4ZAZCSVcWG8BMuj1AuvyfsYPLjfX22KzwknBSo2YZCAeWPX1EepZAUp03Be5EwsKpCEkk9ZChx7iTMcAeOsF557yWGawqtMtjqN3cRDqdfxR17b4SiRveixLU9zVVY40"/>
    <!--change as needed-->
    <!--Twitter-->

    <!--host url of your app. this shoud be match with Canvas URL in the insta app ypu have created.-->
    <add key="Insta_access_token" value="1817688593.2349d1b.3b7e208f55044df39faaeb003b67a9d1"/>
    <!--change as needed-->
    <!--Twitter-->

    <add key="consumerkey" value="uD3RSUsemIaLB3CExynsA"/>
    <add key="consumersecret" value="ojD1pmp1qEC1hMJ2aGALwotovNCa95ZYWzGVhpD4A4"/>

    <add key="oauth_token" value="2894716124-F8ZAikbLke4BuGRviH8BbuyRefoPhF4KVUzISvH"/>
    <add key="oauth_token_secret" value="8aCc3Smg0pCeULRrXDl3lz34qW0INvpClrf7mNUQ1yJUA"/>

    <add key="TwitterIchooseItHashtag" value="ichooseit256"/>
    <add key="twitteradmin" value="ichooseit256"/>
    <add key="twitterpassword" value="ichoose@256"/>
    <add key="campaign_type_max_cnt" value="20"/>

    <!-- Instagram start -->
    <add key="InstaIchooseItHashtag" value="ichooseit"/>
    <add key="instagram.clientid" value="2349d1b30130447abdddda62bce0f42a"/>
    <add key="instagram.clientsecret" value="c03af0a22921417a9e537362d7949264"/>
    <add key="instagram.redirecturi" value="http://localhost:46444/Instagram.aspx"/>
    <add key="instagram.brands.redirecturi" value="http://localhost:46444/brands/activateinsta.aspx"/>
    <add key="callback_url" value="http://localhost:1236/8460/Instagram.aspx"/>
    <!-- Instagram end -->

    <!-- googleplus start -->
    <add key="GooglePlusIchooseItHashtag" value="ichooseit"/>
    <add key="GooglePlus.clientid" value="293328246285-g57qm8h37g7npjm8g4k4rbpnuisb433g.apps.googleusercontent.com"/>
    <add key="GooglePlus.clientsecret" value="SajiUwawVKPYnRtEUq6nBpb1"/>
    <!-- googleplus end -->

    <!--Mail Settings start-->
    <add key="From" value="admin@propertysouq.com" />
    <add key="CC" value="sruthi.ravindran@gmail.com" />
    <add key="BCC" value="sruthi.ravindran@gmail.com" />
    <add key="Subject" value="Test Mail" />
    <add key="TemplateVoucherSend" value="C:\IchooseIT\Web\templates\VoucherWinner.html" />
    <add key="Template" value="C:\IchooseIT\Web\templates\blanktemplate.html" />
    <!--Mail Settings end-->
  </appSettings>
  <connectionStrings>
    <add name="IchooseITAdminConnectionString" connectionString="Data Source=.;Initial Catalog=IchooseIT;Persist Security Info=True;User ID=sa;Password=souq@#1paSS" providerName="System.Data.SqlClient"/>
    <add name="IchooseITConnectionString" connectionString="Data Source=.;Initial Catalog=IchooseIT;User ID=sa;Password=souq@#1paSS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="admin@propertysouq.com">
        <!--<network host="smtp.gmail.com" enableSsl="true" port="587" userName="sruthi.ravindran@gmail.com" password="b1234" />-->
        <network defaultCredentials="false" host="192.169.227.193" password="psouq@#1paSS" port="25" userName="admin@propertysouq.com" />
        <!--<network host="208.109.218.43" port="25" userName="admin@propertysouq.com" password="jaison123"/>-->
        <!--<network host="localhost" port="25" userName="sendemailonly@cyberlinesolutions.com" password="sendmail678" />-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
